# Last match in file takes precedence.

# For all PRs you can ping any maintainer(шоха) in discord
# For xeno PRs and PRs that changing .ftl (fluent) files 
* Ping @awarefoxy

# Project lead - 
* @no_mad.
